// public/src/styles/globals.scss
@use './variables' as *; // <-- imprescindible

body {
  background: $body-bg;
  color: $body-color;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}

.card {
  border-radius: $border-radius;
}

.avatar {
  width: 75px;
  height: 75px;
}

.img-circle {
  border-radius: 50%;
}

.link {
  cursor: pointer;
  text-decoration: none;
}